@import '../../../../global.css';

@-webkit-keyframes bg-pan-left {
    0% {
        background-color: aliceblue;
      background-position: 100% 50%;
    }
    100% {
        background-color: aquamarine;
      background-position: 0% 50%;
    }
  }
  @keyframes bg-pan-left {
    0% {
        background-color: aliceblue;

      background-position: 100% 50%;
    }
    100% {
        background-color: aquamarine;

      background-position: 0% 50%;
    }
  }
nav{
  position: sticky;
  top: 0;
    height: 4vh;
    width: inherit;
    z-index: 1;
    display: flex;
    align-self: center;
    margin-top: 3vh;
    z-index: 3;
}
.wrapper{
    width: inherit;
    display: flex;
    flex-direction: row;
    padding: 0 2rem 0;
    align-items: center;
    justify-content: space-between;
}
.logo{}
.actionbar{
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.actionbar .nav_button {  
    background: var(--secondary-l);   
    height: 2rem !important;
    width: 5rem!important; 
    border: none!important;
    border-bottom: var(--secondary-d) 1px solid !important;
    border-radius: 5px !important;
    color: #fff !important;
    font-size: 18px !important;
}
.actionbar .nav_button:hover{
    -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    background-color: var(--secondary-d);
    transition: ease 0.5s;
}
.actionbar .nav_button:active{
    transition: ease 1s;
   animation: none;
   background-color: var(--primary-d);
}




